
.chatContent{
    display: flex;     
    flex-direction:row;
    background-color:white; 
}

.chatDivIzq{
    /* width:100%; */
    width:80%;
    /* background-color: blue; */
}

.chatDivDer{
    /* width: 100%; */
    width:20%;
    /* background-color: greenyellow; */
}

.chatDivUpper{
    /* width:100%; */
    height:78vmin;
    /* background-color: blue; */
    overflow-y: scroll;
}

.chatDivDown{
    /* width: 100%; */
    height:10vmin;
    /* background-color: greenyellow; */
}

.cUser{
    color:red;
    font-weight: bold;
}
.cComment{
    color:green;
    font-weight: bold;
    
}
.chatBox{
    display:flex;
    flex-direction:row;
}